<section class="login-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="loginForm"
    (ngSubmit)="onLoginFormSubmit()"
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email" placeholder="Your email"/>
      <mat-hint>Enter your Email </mat-hint>
      <mat-error *ngIf="loginForm.controls.email?.errors?.required"
        >Email must not be empty</mat-error
      >
      <mat-error *ngIf="loginForm.controls.email?.errors?.email"
        >Invalid Email</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" placeholder="Your password"/>
      <mat-error *ngIf="loginForm.controls.password?.errors?.required"
        >Password must not be empty</mat-error
      >
    </mat-form-field>
    <button
      *ngIf="!(isLoading$ | async)"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
