<mat-toolbar color="primary">
    <div>
      <button mat-icon-button (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <a routerLink="/">LOGO</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <div fxLayout fxLayoutGap="10px">
        <ul *ngIf="!(isAuth$ | async)">
          <li><a routerLink="/signup">Signup</a></li>
        </ul>
        <ul *ngIf="!(isAuth$ | async)">
          <li>
          <a routerLink="/login">Login</a></li>
        </ul>
        <ul *ngIf="isAuth$ | async">
          <li><a routerLink="/training">Training</a></li>
        </ul>
        <ul *ngIf="isAuth$ | async">
          <li><a routerLink="/" (click)="onLogout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </mat-toolbar>